{% extends "base.html" %}
{% load static i18n %}


{% block content %}
    <div class="container-fluid">
        <!-- Jumbotron -->
        <div class="card card-image" style="">
            <div class="text-center py-2 px-2">
                <div class="py-2">
            
                    <!-- Content -->
                    <h5 class="h5 red-text"><i class="fas fa-book"></i> How to cite</h5>
                    <h2 class="card-title h2 my-4 py-2">The ReproGenomics Viewer Citation Guidelines</h2>
                    <p class="mb-4 pb-2 px-md-5 mx-md-5">The ReproGenomics Viewer database contains a wealth of processed sequencing datasets published 
                        in the field of reproductive biology including genetic, genomic, transcriptomic, cistromic and epigenomic data. 
                        In addition its web interface provides data access via several visualization tools. 
                        As is common practice in scientific research, cite the resources you are using. 
                        The team behind this resource has invested considerable time, resources, and effort into collecting, curating, 
                        processing, developing, and maintaining the ReproGenomics Viewer resource you are using. 
                        They deserve credit for their work.
                    </p>
                    <h3>If you use data or services from The ReproGenomics Viewer, please cite both publications:<br></h3>
                    <ul style="list-style-type: none;">
                        <li>
                            <b>Darde TA <i>et al.,</i> 2019, Bioinformatics, </b><a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/30668675">The ReproGenomics Viewer: a multi-omics and cross-species resource compatible with single-cell studies for the reproductive science community.</a>
                        </li>
                        <li>
                            <b>Darde TA <i>et al.,</i> 2015, Nucleic Acids Res, </b><a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/25883147">The ReproGenomics Viewer: an integrative cross-species toolbox for the reproductive science community.</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Jumbotron -->

        <div class="row my-5">
            <div class="col-md-12 mb-12">
                <h3 style="text-align:center;">The Reprogenomics Viewer has been cited by:<br></h3>
                <ul style="font-weight: 400;">
                  <li><b>Gille AS <i>et al.,</i> 2019, Int J Mol Sci, </b><a target='_blank' href='https://www.ncbi.nlm.nih.gov/pubmed/31744138'>Contribution of Single-Cell Transcriptomics to the Characterization of Human Spermatogonial Stem Cells: Toward an Application in Male Fertility Regenerative Medicine?</a></li>
                  <li><b>Lorès P <i>et al.,</i> 2019, Am J Hum Genet, </b><a target='_blank' href='https://www.ncbi.nlm.nih.gov/pubmed/31735292'>Mutations in TTC29, Encoding an Evolutionarily Conserved Axonemal Protein, Result in Asthenozoospermia and Male Infertility.</a></li>
                  <li><b>Harpelunde Poulsen K <i>et al.,</i> 2019, Hum Reprod, </b><a target='_blank' href='https://www.ncbi.nlm.nih.gov/pubmed/31734698'>Dysregulation of FGFR signalling by a selective inhibitor reduces germ cell survival in human fetal gonads of both sexes and alters the somatic niche in fetal testes.</a></li>
                  <li><b>Nicol B <i>et al.,</i> 2019, Nat Commun, </b><a target='_blank' href='https://www.ncbi.nlm.nih.gov/pubmed/31712577'>RUNX1 maintains the identity of the fetal ovary through an interplay with FOXL2.</a></li>
                  <li><b>Touré A <i>et al.,</i> 2019, Front Cell Dev Biol, </b><a target='_blank' href='https://www.ncbi.nlm.nih.gov/pubmed/31681763'>Importance of SLC26 Transmembrane Anion Exchangers in Sperm Post-testicular Maturation and Fertilization Potential.</a></li>
                  <li><b>Nielsen JE <i>et al.,</i> 2019, Sci Rep, </b><a target='_blank' href='https://www.ncbi.nlm.nih.gov/pubmed/31537814'>Characterisation and localisation of the endocannabinoid system components in the adult human testis.</a></li>
                  <li><b>Neirijnck Y <i>et al.,</i> 2019, Int J Mol Sci, </b><a target='_blank' href='https://www.ncbi.nlm.nih.gov/pubmed/31505893'>The Insulin/IGF System in Mammalian Sexual Development and Reproduction.</a></li>
                  <li><b>Whitfield M <i>et al.,</i> 2019, Am J Hum Genet, </b><a target='_blank' href='https://www.ncbi.nlm.nih.gov/pubmed/31178125'>Mutations in DNAH17, Encoding a Sperm-Specific Axonemal Outer Dynein Arm Heavy Chain, Cause Isolated Male Infertility Due to Asthenozoospermia.</a></li>
                  <li><b>Jégou B <i>et al.,</i> 2017, Mol Biol Evol, </b><a target='_blank' href='https://www.ncbi.nlm.nih.gov/pubmed/28444387'>Meiotic Genes Are Enriched in Regions of Reduced Archaic Ancestry.</a></li>
                  <li><b>Becker E <i>et al.,</i> 2017, J Proteomics, </b><a target='_blank' href='https://www.ncbi.nlm.nih.gov/pubmed/28057603'>The protein expression landscape of mitosis and meiosis in diploid budding yeast.</a></li>
                  <li><b>Xie B <i>et al.,</i> 2016, RNA Biol, </b><a target='_blank' href='https://www.ncbi.nlm.nih.gov/pubmed/27362276'>Ndt80 activates the meiotic ORC1 transcript isoform and SMA2 via a bi-directional middle sporulation element in Saccharomyces cerevisiae.</a></li>
                  <li><b>Borowiec AS <i>et al.,</i> 2016, FASEB J, </b><a target='_blank' href='https://www.ncbi.nlm.nih.gov/pubmed/27317670'>Cold/menthol TRPM8 receptors initiate the cold-shock response and protect germ cells from cold-shock-induced oxidation.</a></li>
                  <li><b>Chalmel F <i>et al.,</i> 2015, Reproduction, </b><a target='_blank' href='https://www.ncbi.nlm.nih.gov/pubmed/26416010'>Linking transcriptomics and proteomics in spermatogenesis.</a></li>
                  <li><b>Stuparevic I <i>et al.,</i> 2015, FEBS Lett, </b><a target='_blank' href='https://www.ncbi.nlm.nih.gov/pubmed/25728275'>The histone deacetylase Rpd3/Sin3/Ume6 complex represses an acetate-inducible isoform of VTH2 in fermenting budding yeast cells.</a></li>
                  <li><b>Zimmermann C <i>et al.,</i> 2015, Mol Endocrinol, </b><a target='_blank' href='https://www.ncbi.nlm.nih.gov/pubmed/25710594'>Research resource: the dynamic transcriptional profile of sertoli cells during the progression of spermatogenesis.</a></li>
                  <li><b>Chocu S <i>et al.,</i> 2014, Biol Reprod, </b><a target='_blank' href='https://www.ncbi.nlm.nih.gov/pubmed/25210130'>Forty-four novel protein-coding loci discovered using a proteomics informed by transcriptomics (PIT) approach in rat male germ cells.</a></li>
                  <li><b>Chalmel F <i>et al.,</i> 2014, Biol Reprod, </b><a target='_blank' href='https://www.ncbi.nlm.nih.gov/pubmed/24740603'>High-resolution profiling of novel transcribed regions during rat spermatogenesis.</a></li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
