{% extends "base.html" %}
{% load static i18n %}


{% block content %}
    <div class="container-fluid">
        <!-- Jumbotron -->
        <div class="card card-image" style="background-image: url('{% static 'images/logo/RGVLogo_home_crop.png' %}');background-repeat:no-repeat;background-size: contain;background-position:center; ">
            <div class="text-white text-center rgba-stylish-strong py-2 px-2">
                <div class="py-2">
            
                    <!-- Content -->
                    <h5 class="h5 red-text"><i class="fas fa-graduation-cap"></i> Institutions</h5>
                    <h2 class="card-title h2 my-4 py-2">The Reprogenomics Viewer support</h2>
                    <p class="mb-2 pb-2 px-md-2 mx-md-2">
                        The ReproGenomics Viewer database is supported, built and maintained by the Research Institute for Environmental and Occupational Health (IRSET) and the GenOuest BioInformatics facility located in Rennes (Brittany, France).
                    </p>
                </div>
            </div>
        </div>
        <!-- Jumbotron -->

    </div>
    <div class="container">
        <div class="row my-5">
            <div class="col-md-6 mb-6">
                <!-- Card -->
                    <div class="card card-image"
                    style="background-image: url('{% static 'images/Irset_funders.png' %}');;background-repeat:no-repeat;background-size: contain;background-position:center;">

                    <!-- Content -->
                    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div>
                        <h5 class="red-text"><i class="fas fa-graduation-cap"></i> INSERM U1085</h5>
                        <h3 class="card-title pt-2"><strong>IRSET</strong></h3>
                        <p>The Research Institute for Environmental and Occupational Health (Irset) is located at Rennes. Its research groups cover diverse and complementary fields such as molecular and genome biology, bioinformatics, analytical chemistry, toxicology 
                            and epidemiology that all have a common aim:	gain insight into basic molecular processes related to pathologies that manifest themselves in the context of environmental challenges. </p>
                        <a href="https://www.irset.org/en" target="_blank" class="btn btn-red"><i class="fas fa-clone left"></i> View </a>
                    </div>
                    </div>

                    </div>
                <!-- Card -->
            </div>
            <div class="col-md-6 mb-6">
                <!-- Card -->
                    <div class="card card-image"
                    style="background-image: url('{% static 'images/genouestlogo.png' %}');;background-repeat:no-repeat;background-size: contain;background-position:center;">

                    <!-- Content -->
                    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div>
                        <h5 class="red-text"><i class="fas fa-laptop-code"></i> BioInformatics facility</h5>
                        <h3 class="card-title pt-2"><strong>GenOuest</strong></h3>
                        <p>The GenOuest BioInformatics facility is hosted at INRIA Rennes-Bretagne Atlantique and IRISA. It is a member of IFB (Institut Français de Bioinformatique) and a member of Biogenouest. 
                            GenOuest is an IBiSA platform and it is recognized by INRA CNOC as a strategic regional platform</p>
                        <a href="https://www.genouest.org/" target="_blank" class="btn btn-red"><i class="fas fa-clone left"></i> View </a>
                    </div>
                    </div>

                    </div>
                <!-- Card -->
            </div>
        </div>


    </div>





    <div class="jumbotron" style="margin-top:50px;text-align:center;padding-top: 1px;padding-bottom: 10px;">
        <h2><i class="glyphicon glyphicon-euro"></i> Founders</h2>
    </div>

    <div class="row">
        <div class="col-md-6 col-lg-6">
            <div class="box">
                <div class="box-icon" style="background-image: url('{% static 'images/anseslogo.jpg' %}');background-repeat: round;">
                </div>
                <div class="info">
                    <h4 class="text-center"></h4>
                    <p>The French Agency for Food, Environmental and Occupational Health & Safety [ANSES No. EST-13-081 to F.C.]</p>
                    <a href="https://www.anses.fr/en" target="_blanck" class="btn btn-default">Visit</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-6 col-lg-6">
            <div class="box">
                <div class="box-icon" style="background-image: url('{% static 'images/frmlogo.png' %}');background-repeat: round;">
                </div>
                <div class="info">
                    <h4 class="text-center"></h4>
                    <p>The Medical Research Foundation [FRM No. DBI20131228558 to F.C.]</p>
                    <a href="https://www.frm.org" target="_blanck" class="btn btn-default">Visit</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <div class="box">
                <div class="box-icon" style="background-image: url('{% static 'images/federlogo.png' %}');background-repeat: round;">
                </div>
                <div class="info">
                    <h4 class="text-center"></h4>
                    <p>The European Union [FEDER to F.C.]</p>
                    <a href="http://europe.bzh/jcms/wcrb_223387/fr/accueil" target="_blanck" class="btn btn-default">Visit</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="box">
                <div class="box-icon" style="background-image: url('{% static 'images/rblogo.jpg' %}');background-repeat: round;">
                </div>
                <div class="info">
                    <h4 class="text-center"></h4>
                    <p>The Brittany Region [FEDER to F.C.]</p>
                    <a href="http://europe.bzh/jcms/wcrb_223387/fr/accueil" target="_blanck"class="btn btn-default">Visit</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="box">
                <div class="box-icon" style="background-image: url('{% static 'images/fnslogo.png' %}');background-repeat: round;">
                </div>
                <div class="info">
                    <h4 class="text-center"></h4>
                    <p>The Swiss National science Foundation</p>
                    <a href="http://www.snf.ch/en" target="_blanck" class="btn btn-default">Visit</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}