{% extends "base.html" %}
{% load static i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% block content %}
    <script>
      gtag('config', 'UA-158824695-1', {
        'page_title' : 'homepage',
        'page_path': '/home'
      });
    </script>
    <!-- Page Content -->
    <div class="container">
        <section class="mt-5 wow fadeIn">

            <!--Grid row-->
            <div class="row align-items-center">

                <!--Grid column-->
                    <div class="col-md-6 mb-4">

                        <img src="{% static 'images/single_cell.png' %}" class="img-fluid align-middle" alt="">

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6 mb-4">

                        <!-- Main heading -->
                        <h3 class="h3 mb-3">Welcome to the HuDeCA single-cell Viewer</h3>
                        <p><b>The HuDeCA scViewer</b> is a multi- and cross-species genomic database for the visualization, mining and comparison of published omics data sets for the HuDeCA community.</p> 
                       <!-- Main heading -->
                        <hr>
                        <p>
                        It was developed to assist scientists in the mining of a wide range of ultra-high-throughput reprogenomics data, including RNA and DNA sequencing data.
                        </p>

                        <!-- CTA -->
                        <a target="_blank" href="{% url 'studies:index' %}" class="btn btn-indigo btn-md">Start
                        </a>

                    </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </section>
        <!--Section: Main info-->

        <hr class="my-5">

        <section>

        <h3 class="h3 text-center mb-5">HuDeCA scViewer</h3>

        <!--Grid row-->
        <div class="row wow fadeIn align-items-center">

          <!--Grid column-->
          <div class="col-lg-6 col-md-12 px-4">

            <!--First row-->

            <div style="height:30px"></div>

            <!--Second row-->
            <div class="row">
              <div class="col-1 mr-3">
                <i class="far fa-chart-bar fa-2x blue-text"></i>
              </div>
              <div class="col-10" onmouseover="passageDeLaSouris('{% static 'images/home/home_scatter_ordi.png' %}')">
                <h5 class="feature-title">Explore</h5>
                <p class="grey-text"> With the HuDeCA scViewer explore complex data sets
                </p>
              </div>
            </div>
            <!--/Second row-->

            <div style="height:30px"></div>

            <!--Third row-->
            <div class="row">
              <div class="col-1 mr-3">
                <i class="far fa-window-restore fa-2x cyan-text"></i>
              </div>
              <div class="col-10" onmouseover="passageDeLaSouris('{% static 'images/home/home_layout_ordi.png' %}')">
                <h5 class="feature-title">Multi screen layout</h5>
                <p class="grey-text">Visualize all the information you need</p>
              </div>
            </div>
            <!--/Third row-->

            <div style="height:30px"></div>

            <!--Third four-->
            <div class="row">
              <div class="col-1 mr-3">
                <i class="fas fa-users fa-2x red-text"></i>
              </div>
              <div class="col-10" onmouseover="passageDeLaSouris('{% static 'images/home/home_login_ordi.png' %}')">
                <h5 class="feature-title">User space</h5>
                <p class="grey-text">Save your gene lists and display your data in RGV</p>
              </div>
            </div>
            <!--/Third four-->


          </div>
          <!--/Grid column-->

          <!--Grid column-->
          <div class="col-lg-6 col-md-12">
              <img id="hoover_img" src="{% static 'images/home/home_default_ordi.png' %}" class="img-fluid" alt="">
          </div>
          <!--/Grid column-->

        </div>
        <!--/Grid row-->

      </section>
      <!--Section: Main features & Quick Start-->

      <hr class="my-5">

      <!--Section: More-->
      <section>

        <h2 class="my-5 h3 text-center">Get Started</h2>

        <!--First row-->
        <div class="row features-small mt-5 wow fadeIn">

          <!--Grid column-->
          <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-info fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2 pl-3">
                <a href="{% url 'help' %}" style="text-decoration: none;color: black;"><h5 class="feature-title font-bold mb-1">Help</h5></a>
                <p class="grey-text mt-2">Need some help?
                </p>
              </div>
            </div>
            <!--/Grid row-->
          </div>
          <!--/Grid column-->

          <!--Grid column-->
          <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-graduation-cap fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2">
                <a class="disabled" href="{% url 'tutorial' %}" style="text-decoration: none;color: black;"><h5 class="feature-title font-bold mb-1">Tutorials</h5></a>
                <p class="grey-text mt-2">Learn how to use the ReproGenomics Viewer.
                </p>
              </div>
            </div>
            <!--/Grid row-->
          </div>
          <!--/Grid column-->

          <!--Grid column-->
          <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-wrench fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2">
                <a href="{% url 'tech_corner' %}" style="text-decoration: none;color: black;"><h5 class="feature-title font-bold mb-1">Technical corner</h5></a>
                <p class="grey-text mt-2">Get more insights about whats happen behind the scenes.
                </p>
              </div>
            </div>
            <!--/Grid row-->
          </div>
          <!--/Grid column-->

          <!--Grid column-->
          <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-table fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2">
                <a href="{% url 'studies:index' %}" style="text-decoration: none;color: black;"><h5 class="feature-title font-bold mb-1">Browse studies</h5></a>
                <p class="grey-text mt-2">Browse the ReproGenomics Viewer indexed datasets.</p>
              </div>
            </div>
            <!--/Grid row-->
          </div>
          <!--/Grid column-->

        </div>
        <!--/First row-->

       

      </section>
      <!--Section: More-->

       <hr class="my-5">

        <section>

            <h3 class="h3 text-center mb-5">RGV news</h3>

            <!--Grid row-->
            <div class="row wow fadeIn justify-content-center scrollable mb-5">

                <!--Grid column-->
                <div class="col-lg-8 col-md-12 px-4 ">
                  <a class="twitter-timeline" href="https://twitter.com/ReproGenoViewer?ref_src=twsrc%5Etfw">Tweets by ReproGenoViewer</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <!--/Grid column-->

            
            </div>
            <!--/Grid row-->

      </section>
      <!--Section: Main features & Quick Start-->


       
    </div>
    <!-- /.container -->
{% endblock %}
{% block javascript %}
    {{ block.super }}
    <script>
        function passageDeLaSouris(url) {
          var elmt = document.getElementById("hoover_img"); 
          elmt.setAttribute('src', url);
        }
    </script>
{% endblock %}
