{% extends "base.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container"></div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Article</th>
                    <th scope="col">PMID</th>
                    <th scope="col">Species</th>
                    <th scope="col">Topics</th>
                    <th scope="col">Cells</th>
                    <th scope="col">Samples</th>
                </tr>
            </thead>
        
            <tbody>
                {% for study in studies %}
                <tr>
                    <td>{{ study.article }}</td>
                    <td>{{ study.pmid }}</td>
                    <td>{{ study.species | join:"," }}</td>
                    <td>{{ study.topics | join:"," }}</td>
                    <td>{{ study.cell_sorted | join:"," }}</td>
                    <td>{{ study.samples_count | join:"," }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>     
</div>
    
{% endblock %}