{% extends "base.html" %}
{% load static i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% block content %}

<link type="text/css" rel="stylesheet" href="//golden-layout.com/assets/css/goldenlayout-base.css" />
<link type="text/css" rel="stylesheet" href="//golden-layout.com/assets/css/goldenlayout-light-theme.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css">

<link href="{% static 'css/test.css' %}" rel="stylesheet">
<template type="text/html">
    <li id="test">
      <a data-toggle="modal" data-target="#mymodal" aria-label="More info">
        <i class="fa fa-cog" aria-hidden="true"></i>
      </a>
    </li>
</template>

<!-- Button trigger modal -->


<!-- Full Height Modal Right -->
<div class="modal fade right" id="fullHeightModalRight-info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<!-- Add class .modal-full-height and then add class .modal-right (or other classes from list above) to set a position to the modal -->
  <div class="modal-dialog modal-full-height modal-right modal-lg" role="document" id="modaltest1">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title w-100" id="myModalLabel">Dataset information</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row my-5">
                <div class="col-md-6 mb-5">
                    <h2>Study summary</h2>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">Title</th>
                                <td>{{study.title}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Abstract</th>
                                <td>{{study.abstract | safe}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Publication date</th>
                                <td>{{study.publish_date}}</td>
                            </tr>
   
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 mb-5">
                  <h2>Dataset summary</h2>
                  <table class="table">
                      <tbody>
                          <tr>
                              <th scope="row">Name</th>
                              <td>{{document.name}}</td>
                          </tr>
                          <tr>
                            <th scope="row">Number of sample/cell</th>
                            <td>{{document.cell_number }}</td>
                          </tr>
                          <tr>
                              <th scope="row">Number of classification</th>
                              <td>{{ document.class_name |length }}</td>
                          </tr>
                          <tr>
                              <th scope="row">Number of Interogated genes</th>
                              <td>{{ document.gene_number }}</td>
                          </tr>
                          <tr>
                              <th scope="row">Technology</th>
                              <td>{{ document.technology }}</td>
                          </tr>
                          <tr>
                            <th scope="row">Species</th>
                            <td>{{ document.get_species_display }}</td>
                        </tr>
                      </tbody>
                  </table>
              </div>
            </div>
            <div class="row my-5" data-url="{% url 'studies:class_info'%}" document-id="{{document.id}}" study-id="{{study.id}}" id="class_layout">
              <h2>Classification parameters</h2>
              <hr>

              {% for class in classes %}
                <div class="col-md-12 mb-5">
                  <!-- Card -->
                  <div class="card">

                      <!-- Card image -->
                      <div>
                          <canvas id="class_info_{{ forloop.counter0 }}"></canvas>
                      </div>

                  
                  </div>
                  <!-- Card -->
                </div>
              {% endfor %}
            </div>
        </div>

        <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>

<!-- Full Height Modal Right-data -->
<div class="modal fade right" id="fullHeightModalRight-data" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<!-- Add class .modal-full-height and then add class .modal-right (or other classes from list above) to set a position to the modal -->
  <div class="modal-dialog modal-full-height modal-right modal-lg" role="document" id="modaltest2">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title w-100" id="myModalLabel">Dataset operations</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row my-5">
              <div class="col-md-6 mb-5">
                <h2>Dataset summary</h2>
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">Name</th>
                            <td>{{document.name}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Number of sample/cell</th>
                          <td>{{document.cell_number }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Number of classification</th>
                            <td>{{ document.class_name |length }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Number of Interogated genes</th>
                            <td>{{ document.gene_number }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Technology</th>
                            <td>{{ document.technology }}</td>
                        </tr>
                        <tr>
                          <th scope="row">Species</th>
                          <td>{{ document.get_species_display }}</td>
                      </tr>
                    </tbody>
                </table>
              </div>
              <div class="col-md-6 mb-5">
                <h2> Download full dataset : </h2>
                <a class="btn btn-primary" href="{% url 'studies:document_download' document.id %}" role="button">Download</a>
              </div>
            </div>
            <div class="row my-5">
              <div class="col-md-12 mb-5">
                <h2> Gene expression table </h2>
                <hr>
                <div class="form-group purple-border">
                  <label for="class_select_table">Select your class</label>
                  <form id="table_form">
                    <select class="browser-default custom-select" id="class_select_table">
                    {% for class in classes %}
                      <option value="{{class}}">{{class}}</option>
                    {% endfor %}
                    </select>
                    <label for="gene_query_type_table">Gene format</label>
                    <select class="browser-default custom-select" id="gene_query_type_table">
                      <option value="name">Gene name</option>
                      <option value="id">Gene id</option>
                    </select>
                    <label for="gene_select_table">Gene list</label>
                    <textarea class="form-control" id="gene_select_table" rows="3"></textarea>
                  </form>
                </div>
                <button id="select_table" type="button" class="btn btn-default" data-url="{% url 'studies:get_genes_values_table' document.id %}" >Show</button>
                <div id="table-graph-warning" style="color:red;"></div>
                <div id="table-graph-div"></div>
              </div>
            </div>
        </div>
        <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>

<div class="container-fluid">
    <h5>{{ document.name }} - {{study.article}}</h5>
    <hr>
    <div id="wrapper" data-url="{% url 'studies:graph_data' %}?document_id={{data.id}}" autocomplete-url="{% url 'studies:autocomplete_genes' data.species %}">
         <div class="row">
            <div class="col-11">
                <div id="layoutContainer"></div>
            </div>
            <div class="col-1">
                <button type="button" class="btn btn-default waves-effect waves-light" data-toggle="modal" data-target="#fullHeightModalRight-info" id="mapDrawerActivateButtonContainer">
                    <i class="fas fa-info fa-2x"></i>
                </button>
                <button type="button" class="btn btn-secondary waves-effect waves-light" data-toggle="modal" data-target="#fullHeightModalRight-data" id="mapDrawerActivateButtonContainer2">
                    <i class="fas fa-laptop-code fa-2x"></i>
                </button>
                <div id="mapDrawerActivateButtonContainer3">
                    <div style="list-style: none" id="menuContainer"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="default_modal">
<div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Study information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h2>Select your visualisation</h2>
        <hr>
          <form class="md-form md-bg visu-form">
            <div class="row my-5">
              <div class="col-md-3 mb-5">
                <h3>Visualisation type</h3>
                <select class="browser-default custom-select visu-type">
                  <option value="scatter">Scatter plot</option>
                  <option value="violin">Violin plot</option>
                  <option value="density">Density plot</option>
                </select>
              </div>
              <div class="col-md-3 mb-5">
                <h3>Class selection</h3>
                <select class="browser-default custom-select visu-class">
                  {% for class in classes %}
                  <option value="{{class}}">{{class}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-6 mb-5">
                <br>
                <div class="scatter_info" style="display:block;">
                  <p>Scatter plots are recommended for single-cell data. Each point represents a sample/cell. colorized by groups.</p>
                  <p>You can optionally display the expression of one selected gene</p>
                </div>
                <div class="density_info" style="display:none;">
                  <p>Density plots are recommended for single-cell data. This plot type displays the density of samples/cells.</p>
                  <p>You can optionally display the expression of one or more genes.</p>
                </div>
                <div class="violin_info" style="display:none;">
                  <p> Violin plot are best used for for transcriptomic data. This plot type displays the expression intensity of the selected gene (only one) through the selected dataset.</p>
               </div>
              </div>
            </div>  
          </form>
         <hr>
         <div class="row my-5 gene_select">
           <div class="col-md-6 mb-5">
             <h2>Genes selection</h2>
             <hr>
             <form>
               <div class="md-form md-bg">
                 <input type="text" class="form-control autocomplete-gene">
                 <label for="formBg1">Display gene</label>
               </div>
               <div class="autogeneresponse"></div>
               <button type="button" class="btn btn-default gene-add" disabled>Add</button>
             </form>
           </div>
           <div class="col-md-6 mb-5">
             <h2>Selected genes</h2>
             <div class="messagegene"></div>
             <div class="scatter_info" style="color: green; display:block">Optional: Select one gene to be displayed</div>
             <div class="violin_info" style="color:red; display:none">Required : Select one gene to be displayed</div>
             <div class="density_info"style="color:green; display:none">Optional: Select one or more genes to be displayed</div>
             <div class="gene_info">You can add genes to this list by using the input on the left</div>
             <form class="md-form md-bg gene-form"><table class='table align-middle gene-table'><tbody></tbody></table></form>
             <button class="btn btn-info btn-sm clear_genes" style="display:none;">Uncheck all</button>
           </div>
         </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary test" data-dismiss="modal">Create graph</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>

<div id="modal-wrapper"></div>

<br>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        var token = '{{ csrf_token }}';
    </script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript" src="//golden-layout.com/assets/js/goldenlayout.min.js"></script>
    <script>
      var asso_class = '{{ classes }}';
    </script>
    <script src="{% static 'js/test.js' %}"></script>
{% endblock %}
