{% extends "base.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
            <div class="bs-stepper">
                <div class="bs-stepper-header" role="tablist">
                    <!-- your steps here -->
                    <div class="step" data-target="#dataset-part">
                        <button type="button" class="step-trigger" role="tab" aria-controls="dataset-part" id="dataset-part-trigger">
                            <span class="bs-stepper-circle">1</span>
                            <span class="bs-stepper-label">Select dataset</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#analyse-part">
                        <button type="button" class="step-trigger" role="tab" aria-controls="analyse-part" id="analyse-part-trigger">
                            <span class="bs-stepper-circle">2</span>
                            <span class="bs-stepper-label">Select analyse</span>
                        </button>
                    </div>
                </div>
                <div class="bs-stepper-content">
                    <!-- your steps content here -->
                    <div id="dataset-part" class="content" role="tabpanel" aria-labelledby="dataset-part-trigger">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Selection</th>
                                    <th>Database</th>
                                    <th>Article</th>
                                    <th>Dataset</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for study in studies %}
                                    {% for file in study.data.all %}
                                        <tr>
                                            <td>
                                                <label>
                                                    <input type="checkbox" id="dataset" class="dataset" value="{{ file.id }}" name="{{ study.id }}" />
                                                    <span> </span>
                                                </label>
                                            </td>
                                            <td>{{ study.database }}</td>
                                            <td>{{ study.article }}</td>
                                            <td>{{ file.name }}</td>
                                            <td><i class="material-icons">file_download</i></td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                            </tbody>
                        </table>  
                        <div class="row mt-3">
                            <button id="step2" class="btn btn-default pull-right">Continue</button>
                        </div>
                    </div>
                    <div id="analyse-part" class="content" role="tabpanel" aria-labelledby="analyse-part-trigger">
                        <div id="table_analyse"></div>
                        <div class="row mt-3">
                            <button id="step3" class="btn btn-default pull-right">View</button>
                        </div>
                    </div>
                    
                </div>
            </div>
    </div>
    
{% endblock %}
{% block javascript %}
    {{ block.super }}
    <script>
        var stepper = new Stepper($('.bs-stepper')[0])
        var url_getdb_studies = "{% url 'studies:get_stud_db' %}";
        var url_get_datasets = "{% url 'studies:select_documents' %}";
        var url_display_data = "{% url 'studies:graph' %}";
    </script>
    <script src="{% static 'js/studies.js' %}"></script>
{% endblock %}
