{% load custom %}

    <table id="dt-select-table-gene" class="table table-striped table-bordered" cellspacing="0">
        <thead>
            <tr style="text-align:center;">
                {% for group in columns %}
                <th>{{group.title | title}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tfoot>
            <tr style="text-align:center;">
                {% for group in columns %}
                <th>{{group.title | title}}</th>
                {% endfor %}
            </tr>
        </foot> 
    </table>
