{% load custom %}

{% for study in studies %}
<tr study_id="{{study.id}}" style="text-align:center">
<td>
{% if study.data.count %}
    <a class="btn btn-info btn-sm select_study" data-object="{{study.id}}" data-url="{% url 'studies:select_documents' %}">
        <i class="fa fa-external-link-alt" aria-hidden="true"></i>
    </a>
{% endif %}
</td>
<td><a  style="color:blue;" href="{% url 'studies:study_view' study.id %}">{{study.article}}</a></td>
<td>{{study.pmid}}
  <a data-toggle="modal" data-target="#modal-{{study.id}}" aria-label="More info">
    <i style="color:blue"class="fa fa-question-circle" aria-hidden="true"></i>
  </a>
</td>
<td>{% truncate study.ome 4 study.id %}</td>
<td>{% truncate study.technology 4 study.id %}</td>
<td>{% truncate study.species 4 study.id %}</td>
<td>{% truncate study.experimental_design 4 study.id %}</td>
<td>{% truncate study.topics 4 study.id %}</td>
<td>{% truncate study.tissues 4 study.id %}</td>
<td>{% truncate study.sex 4 study.id %}</td>
<td>{% truncate study.dev_stage 4 study.id %}</td>
<td>{% truncate study.antibody 4 study.id %}</td>
<td>{% truncate study.mutant 4 study.id %}</td>
<td>{% truncate study.cell_sorted 4 study.id %}</td>
<td>{% truncate study.keywords 4 study.id %}</td>
</tr>
{% endfor %}
