{% load custom %}

{% for study in studies %}
<tr study_id="{{study.id}}" style="text-align:center">
<td>{{study.article}}</td>
<td>{{study.pmid}}
  <a data-toggle="modal" data-target="#modal-{{study.id}}" aria-label="More info">
    <i style="color:blue"class="fa fa-question-circle" aria-hidden="true"></i>
  </a>
</td>
<td>{{study.ome | join:",<br>"}}</td>
<td>{{study.technology | join:",<br>"}}</td>
<td>{{study.species | join:",<br>"}}</td>
<td>{{study.experimental_design | join:",<br>"}}</td>
<td>{{study.topics | join:",<br>"}}</td>
<td>{{study.tissues | join:",<br>"}}</td>
<td>{{study.sex | join:",<br>"}}</td>
<td>{{study.dev_stage | join:",<br>"}}</td>
<td>{{study.antibody | join:",<br>"}}</td>
<td>{{study.mutant | join:",<br>"}}</td>
<td>{{study.cell_sorted | join:",<br>"}}</td>
<td>{{study.keywords | join:",<br>"}}</td>
<td>
    <a class="btn btn-info select_study" data-object="{{study.id}}" data-url="{% url 'studies:select_documents' %}">
        <i class="fa fa-external-link-alt" aria-hidden="true"></i>
    </a>
</td>
</tr>
{% endfor %}
