{% extends "base.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="container-fluid">
        <div class="bs-stepper">
            <div class="bs-stepper-header" role="tablist">
                <!-- your steps here -->
                <div class="step" data-target="#dataset-part">
                    <button type="button" class="step-trigger" role="tab" aria-controls="dataset-part" id="dataset-part-trigger">
                        <span class="bs-stepper-circle">1</span>
                        <span class="bs-stepper-label">Select dataset</span>
                    </button>
                </div>
                <div class="line"></div>
                <div class="step" data-target="#analyse-part">
                    <button type="button" class="step-trigger" role="tab" aria-controls="analyse-part" id="analyse-part-trigger">
                        <span class="bs-stepper-circle">2</span>
                        <span class="bs-stepper-label">Select analyse</span>
                    </button>
                </div>
            </div>
            <div class="bs-stepper-content">
                <!-- your steps content here -->
                <div id="dataset-part" class="content" role="tabpanel" aria-labelledby="dataset-part-trigger">
                    <form id = "study-form" data-url="{% url 'studies:render_table' %}">
                    <div class="table-responsive">
                        <table class="table" id="studies">
                            <thead>
                                <tr style="text-align:center;">
                                    {% for column in columns %}
                                    <th scope="col">{{column | title}}</th>
                                    {% endfor %}
                                </tr>
                                <tr style="text-align:center;" id ="filter">
                                    {% for field in form %}
                                    <td>{{ field|as_crispy_field }}</td>
                                    {% endfor %}
                                </tr>                    
                            </thead>
                            <tbody id="table">
                                {{table}}
                            </tbody>
                        </table>
                    </div>
                    </form>
                    <div class="row mt-3"></div>
                        <p id="summary"> Please select one study. </p>
                        <button type="button" class="btn btn-default" id="nextButton" data-url="{% url 'studies:select_documents' %}" disabled> Next</button>
                    </div>
                </div>
                <div id="analyse-part" class="content" role="tabpanel" aria-labelledby="analyse-part-trigger">
                    <div id="table_analyse">Select one study</div>
                    <div class="row mt-3">
                        <button type="button" class="btn btn-success" id="graphButton" data-url="{% url 'studies:graph' %}" disabled> View</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        var stepper = new Stepper($('.bs-stepper')[0],{
    linear: false
  })
    </script>
    <script src="{% static 'js/studies.js' %}"></script>
{% endblock %}
