.chooseColor{
    width: 10px;
    height: 10px;
    background: #fff;
    float: left;
    margin: 5px 5px 0 0;
    cursor: pointer;
}

.chooseColor .selectedColor{
    width: 10px;
    height: 10px;
}

.chooseColor ul{
    display: none;
  box-shadow: 2px 2px 3px rgba( 0, 0, 0, 0.7 );
}

.chooseColor:hover ul{
    display: block;
}

.chooseColor ul,
.chooseColor ul li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.chooseColor ul li{
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.chooseColor ul li:hover{
    border: 1px solid orange;
    width: 8px;
    height: 8px;
};

#wrapper{
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#layoutContainer{
  height:80vh;
}
#menuContainer{
  height:80vh;
}

#menuContainer li{
  cursor: move;
  border-bottom: 1px solid #000;
  border-top: 1px solid #333;
  cursor: pointer;
  padding: 10px 5px;
  color: #BBB;
  background: #1a1a1a;
  font: 12px Arial, sans-serif;
}

#menuContainer li:hover{
  background: #111;
  color: #CCC;
}

#test{
  color:white;
}
