.chooseColor{
    width: 10px;
    height: 10px;
    background: #fff;
    float: left;
    margin: 5px 5px 0 0;
    cursor: pointer;
}

.chooseColor .selectedColor{
    width: 10px;
    height: 10px;
}

.chooseColor ul{
    display: none;
  box-shadow: 2px 2px 3px rgba( 0, 0, 0, 0.7 );
}

.chooseColor:hover ul{
    display: block;
}

.chooseColor ul,
.chooseColor ul li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.chooseColor ul li{
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.chooseColor ul li:hover{
    border: 1px solid orange;
    width: 8px;
    height: 8px;
};

#wrapper{
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#layoutContainer{
  height:80vh;
}

#layoutContainer p{
  color:white;
  text-align: center;
}

#menuContainer li{
  cursor: move;
  border-bottom: 1px solid #000;
  border-top: 1px solid #333;
  cursor: pointer;
  padding: 10px 5px;
  color: #BBB;
  background: #1a1a1a;
  font: 12px Arial, sans-serif;
}

#menuContainer li:hover{
  background: #111;
  color: #CCC;
}

#test{
  color:white;
}

#ajax-loader{
    visibility: hidden;
}


#mapDrawerActivateButtonContainer{
    position: fixed;
    padding: 2em;
    top: 150px;
    right: -10px;
    overflow-y: scroll;
    z-index: 99;
}

#mapDrawerActivateButtonContainer2{
    position: fixed;
    padding: 2em;
    top: 240px;
    right: -30px;
    overflow-y: scroll;
    z-index: 99;
}

#mapDrawerActivateButtonContainer3{
    position: fixed;
    padding: 2em;
    top: 300px;
    right: -68px;
    overflow-y: scroll;
    z-index: 99;
}

.ui-autocomplete {
    position: absolute;
    z-index: 1000;
    cursor: default;
    padding: 0;
    margin-top: 2px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.ui-autocomplete > li {
    padding: 3px 20px;
}
.ui-autocomplete > li.ui-state-focus {
    background-color: #DDD;
}
.ui-helper-hidden-accessible {
    display: none;
}

